<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {% comment %}
        <span class="copyright">Copyright &copy; storytale 2017 {{ STATIC_URL }}</span>
      {% endcomment %}
    </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/StorytaleRoleplay" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        {% comment %}
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
        {% endcomment %}
      </div>
    </div>
  </div>
</footer>
