{% load i18n static %}
{% load static %}
{% load bootstrap4 %}
{% load fontawesome %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>


<head>
  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KFM5JRV');</script>
<!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  {% block extrahead %}
      <link rel="apple-touch-icon" sizes="180x180" href="{% static '/image/favicons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static '/image/favicons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static '/image/favicons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static '/image/favicons/manifest.json' %}">
      <link rel="mask-icon" href="{% static '/image/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
      <meta name="theme-color" content="#ffffff">
  {% endblock %}
  <!-- Include all compiled plugins (below), or include individual files as needed -->

  {# global custom css files #}
  {# Load CSS and JavaScript #}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% fontawesome_stylesheet %}
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}" type="text/css" media="screen" />

    <!-- Custom fonts for this template -->

  {% block extrastyle %}
    {# Load the extra css files #}
  {% endblock %}

  {% block blockbots %}
  {% endblock %}

  <!-- SEO -->
  <title>{% block meta-title %}Storytale, Racontez une histoire qui vous ressemble{% endblock  %}</title>
  <meta name="description" content="{% block meta-decription %}{% endblock meta-decription %}" />
  <link rel="alternate" href="{% block href_url %}{% endblock href_url %}" hreflang="fr-fr" />


</head>
<body id="page-top">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PGMDFPT');</script>
  <!-- End Google Tag Manager -->

  <div>
    {% block menu %}
      {% include "public/widget/menu.html" %}
    {% endblock %}
  </div>
  <div>
        {% block content %}
        hello
        {% endblock content %}
  </div>
  <div id = "footer">
    {% block footer %}
      {% include "public/widget/footer.html" %}
    {% endblock footer %}
  </div>

  <!-- Bootstrap core JavaScript -->

  <script src={% static "js/jquery.js" %}></script>
  <script src={% static "js/popper.js" %}></script>
  <script src={% static "js/bootstrap.js" %}></script>
</body>
</html>
